#about-container {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}

#about-container .mySlides {
    display: block;
}

#about-container img {
    max-height: 200px !important;
    width: 100vw;
}

#about-container .text {
    left: calc(40% - 4rem);
    bottom: 30%;
}

#my-white {
    background-color: var(--my-white);
}

@media only screen and (max-width: 800px) {
    #change-order {
        order: 9;
    }
}
