#about-container {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}

#about-container .mySlides {
    display: block;
}

#about-container img {
    max-height: 200px !important;
    width: 100vw;
}

#about-container .text {
    left: calc(40% - 4rem);
    bottom: 30%;
}

@media only screen and (max-width: 800px) {
    #change-order {
        order: 9;
    }
}

.main-aux-holder h2 {
    text-align: justify !important;
    font-size: 17px;
}

.main-aux-holder article {
    max-width: 550px !important;
    margin-left: 50px;
}

.about-about {
    padding-bottom: 30px !important;
}

.about-about img {
    min-width: 500px !important;
}
