.my_button {
    align-items: center;
    background-color: #f1efef;
    background-color: rgb(84 128 232 / 29%);
    background-color: #93c4fd59;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
    box-sizing: border-box;
    color: #3350ff;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: calc(7px + 0.6vw);
    font-weight: 550;
    justify-content: center;
    line-height: 1;
    margin: 15px;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.my_button:hover {
    box-shadow: #121212 0 0 0 2px, transparent 0 0 0 0;
}

#bt-cnt {
    max-width: 300px;
}
