#contact-text {
    left: calc(40% - 1rem) !important;
}

.info-holder {
    background-color: #f1efef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-holder img {
    margin-right: 20px;
    width: 33px;
}

.info-holder h2 {
    display: inline;
    font-family: sans-serif;
    text-align: center;
    line-height: 35px;
    font-size: max(calc(1.8vw), 15px);
}

.info-holder > div {
    width: 60vw;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 50px 1fr;
}
