header {
    /* background-color: #32312e; */
    background-color: var(--my-white);
    height: 80px;
    overflow: hidden;
}

.header-container {
    max-width: 91vw;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

header ul {
    display: flex;
}

header > .header-container > nav > ul > li > a {
    text-decoration: none !important;
    padding-bottom: 1px;
    margin: 0 10px;
    font-family: "Open Sans", sans-serif;
    font-size: calc(6px + 0.6vw);
    color: var(--logo-blue);
    font-weight: 600;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    header > .header-container > nav > ul > li > a {
        margin: 0 6px;
        font-size: 11px;
    }
}

.cool-link {
    display: inline-block;
}

.cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    /* background: #fffcf2; */
    background: var(--logo-blue);
    transition: width 0.4s;
}

.cool-link:hover::after {
    width: 100%;
}

.logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-holder img {
    max-width: 150px;
    margin: 0;
    padding: 0;
    /* object-fit: contain; */
}

@media only screen and (max-width: 400px) {
    .logo-holder img {
        max-width: 100px;
    }
}
