.logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: px; */
}

.logo-holder img {
    max-height: 100%;
    max-width: 70px;
    object-fit: contain;
}
