/* .logo-holder {
    padding: 0px;
    margin: 0px;
    text-align: center;
    top: 50%;
} */

.logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-holder img {
    max-height: 100%;
    max-width: 90px;
    object-fit: contain;
}
