main {
    overflow: hidden;
    /* display: gird; */
}

.cards-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: grid;
    grid-template-columns: 80px 230px;
    padding: 20px;
    padding-top: 35px;
    height: 500px;
}

.card-image {
    width: 70px;
}

.card-text-holder {
    padding-left: 5px;
    /* font-family: "slfont", sans-serif; */
    font-family: "Poppins", sans-serif;

    text-align: center;
}

.card-text-holder > h1 {
    font-size: calc(19px + 1vw);
    font-weight: 600;
}
.card-text-holder > p {
    padding-top: 5px;
}
