/* @font-face {
    font-family: slfont;
    src: url("files/slfont.ttf");
} */

.mySlides {
    display: none;
}

.slideshow-container {
    display: block;
    position: relative;
    margin: auto;
    min-width: 300px !important;
    width: 100vw;
    background-color: #bdd9ff;
    /* #8dbdff */
}

.slideshow-container img {
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    height: 91vh;
    /* max-height: 600px; */
    object-fit: cover;
    min-height: 300px !important;
    /* max-width: 100vw; */
}

.text {
    color: #fbfbff;
    font-size: calc(30px + 1.8vw);
    font-family: "slfont", sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 5vw;
    top: calc(220px + 30%);
    max-width: 500px;
}

.text > p {
    margin-bottom: 7px;
    max-width: 500px;
}

.fade {
    animation-name: fade;
    animation-duration: 8s;
}

@keyframes fade {
    0% {
        opacity: 0.09;
    }
    20% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.09;
    }
}
