.mySlides {
    display: none;
    position: relative;
}

.slideshow-container {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 300px !important;
    width: 100%;
    background-color: #bdd9ff;
    /* #8dbdff */
    overflow: hidden;
}

.slideshow-container img {
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    height: 89vh;
    /* max-height: 600px; */
    object-fit: cover;
    min-height: 300px !important;
    /* max-width: 100vw; */
}

.text {
    color: #fbfbff;
    font-size: calc(30px + 1.8vw);
    font-family: sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 5vw;
    bottom: 80px;
    /* calc(120px + 30%); */
    max-width: 500px;
}

.text > p {
    margin-bottom: 7px;
    max-width: 500px;
}

.fade {
    animation-name: fade;
    animation-duration: 6.5s;
    animation-timing-function: ease;
}

@keyframes fade {
    0% {
        opacity: 0.09;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0.09;
    }
}
