@font-face {
    font-family: slfont;
    src: url("files/slfont.ttf");
}

.mySlides {
    display: none;
}
.slideshow-container img {
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    height: 91vh;
    object-fit: cover;
    min-height: 300px !important;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    min-width: 300px !important;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 3em;
    font-family: "slfont", sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 5vw;
    top: 50vh;
    width: 100%;
    /* text-align: center; */
}

.text > p {
    margin-bottom: 7px;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 8s;
}

@keyframes fade {
    0% {
        opacity: 0.06;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.06;
    }
}
