body {
    display: grid;
    min-height: 100vh;
    min-width: 100%;
    width: auto;
    margin: 0;
    border: 0;
    grid-template-rows: minmax(60px, 15vh) 100% minmax(30px, 10vh);
}

main {
    background-color: #8dbdff;
}
