body {
    display: grid;
    min-height: 100vh;
    margin: 0;
    grid-template-rows: 80px 1fr 70px;
}

header {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #322a26;
    /* 8DBDFF */
    /* 374151 */
}

main {
    background-color: #8dbdff;
}
footer {
    min-height: 100px;
    max-height: 100px;
    /* background-color: #463f3b; */
    background-color: #6a6562;
}
